.button {
    border-radius: $RADIUS_S;
    text-transform: uppercase;
    transition: $TRANSITION_FAST;
    overflow: hidden;
    position: relative;
    &:hover {
        opacity: .95;
        box-shadow: 0px 2px 10px 0 rgba(31, 54, 71, 0.12);
    }
    &_small {
        width: $SMALL_BUTTON_WIDTH;
        height: 43px;
        font-size: $F_S_13px;
        font-weight: normal;
    }
    &_large {
        width: $LARGE_BUTTON_WIDTH;
        height: 48px;
        font-size: $F_S_15px;
        font-weight: $F_W_BOLD;
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    &_blue {
        color: $COLOR_WHITE;
        background: $COLOR_BLUE;
        border: 1px solid $COLOR_WHITE;
        position: relative;
        &:before {
            @include button_hover_overlay($COLOR_BLUE, 10%);
        }
        &:hover {
            color: $COLOR_WHITE;
            &:before {
              width: 100%;
            }
        }
    }
    &_white {
        color: $COLOR_DARK_BLUE_GREY;
        background: $COLOR_WHITE;
        border: 1px solid #6F6D7B;
        &:before {
            @include button_hover_overlay($COLOR_WHITE, 5%);
        }
        &:hover {
            color: $COLOR_DARK_BLUE_GREY;
            &:before {
              width: 100%;
            }
        }
    }
}

.button-block {
    display: flex;
    justify-content: space-between;
    @media (min-width: 501px) {
        width: calc(#{$SMALL_BUTTON_WIDTH * 2 + 30px});
    }
    @media (max-width: 500px) {
        flex-direction: column;
        .button {
            margin: .6em 0;
        }
    }
}
