@import './additions/font.scss';
@import './additions/variables.scss';
@import './additions/null.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

a,
a:hover {
    text-decoration: none;
}

input,
button {
    outline: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    // position: relative;
    // padding-bottom: 50px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    // padding: 0 10px;
}

.blue {
    color: $COLOR_BLUE;
}

.uppercase {
    text-transform: uppercase;
}

.section__heading {
    font-weight: $F_W_BOLD;
    font-size: $F_S_36px;
    line-height: 1.2;
    color: $COLOR_WHITE;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 1200px) {
        font-size: $F_S_32px;
    }
    @media (max-width: 1200px) {
        font-size: $F_S_1_5em;
    }
}

@media (max-width:1200px) {
    .container {
        max-width: 92%;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 94%;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
        padding: 0 20px;
    }
    body {
        font-size: .9em!important;
    }
}


@import './parts/header.scss';
@import './parts/buttons.scss';
@import './parts/main-screen.scss';
@import './parts/checkoutSection.scss';
// @import './parts/content.scss';
@import './parts/footer.scss';